# Go 相关
backend/vendor/
backend/*.exe
backend/*.exe~
backend/*.dll
backend/*.so
backend/*.dylib
backend/go.work.sum

# React 相关
frontend/node_modules/
frontend/build/
frontend/.pnp
frontend/.pnp.js

# IDE 相关
*.swp
*.swo
*~

# 系统文件
.DS_Store
Thumbs.db